.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 20em;
  background-color: #efefef;
  border-radius: 1em;
}

.register-card h1 {
  width: 100%;
  text-align: center;
  font-size: 1.8em;
}

.register-card > input {
  padding: 0.8em;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  outline-width: 0;
  font-size: 1em;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.register button, .register a {
  padding: 0.8em;
  border: none;
  border-radius: 0.5em;
  background: #aeaeae;
  color: black;
  text-align: center;
  font-size: 1em;
  font-weight:  600;
}

button:hover, a:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

.button-primary {
  background-color: rgb(55, 134, 246);
  color: white;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: fixed;
  top: 3em;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
}

.notification.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.notification.fade-enter {
  opacity: 0;
}

.notification.fade-enter-active {
  opacity: 1;
}

.notification.fade-exit {
  opacity: 1;
}

.notification.fade-exit-active {
  opacity: 0;
}

.notification.success > .MuiSvgIcon-root {
  color: rgb(82, 161, 82);
}

.notification.fail > .MuiSvgIcon-root {
  color: rgb(233, 58, 58);
}