.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em 2em;
  width: 100%;
  height: 3em;
  background-color: rgb(148, 148, 148);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-left: 10px;
}

.navbar a, .navbar button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  color: #fff;
  font-size: 1em;
  transition: all 0.3s;
}

.navbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar a:hover, .navbar button:hover {
  background-color: #5e5e5e;
  transition: all 0.3s;
}
